{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <div style="text-align:center; margin-top:5%; margin-bottom: -30px;">
        <h1>Welcome to Pulse!</h1>
        {% if request.user.is_superuser or request.user.is_admin %}
            <br/><br/>
            <a href="http://{{ domain }}/hidden/secure/pulse/admin"><h3>ADMIN</h3></a>
            <br/>
            <a href="http://{{ domain }}/hidden/secure/pulse/api"><h3>API</h3></a>
        {% endif %}
    </div>

{% endblock content %}
