{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center"></h1>
{% endblock content %}

{% block jquery %}
    <script type="text/javascript">
        // $(document).ready(function() {
        //     var user_agent_header = navigator.userAgent;
        //     if(user_agent_header.indexOf('iPhone')!=-1 || user_agent_header.indexOf('iPod')!=-1){
        //         var url = window.location.href;
        //         var result = url.replace(/(^\w+:|^)\/\//, '');
        //         window.location = "PulseSocialAppUrlScheme://" + result;
        //         setTimeout(function() {
        //             window.location.href = 'itms-apps://itunes.apple.com/us/app/pulse-social-app/id1194288589?mt=8';
        //         }, 300);
        //     }
        //     else {
        //         $('h1').text('Must be on an iPhone or iPod to view.')
        //     }
        // });

        window.onload = function() {
            var user_agent_header = navigator.userAgent;
            if(user_agent_header.indexOf('iPhone')!=-1 || user_agent_header.indexOf('iPod')!=-1){
                var url = window.location.href;
                var result = url.replace(/(^\w+:|^)\/\//, '');
                // var iframe = document.createElement("iframe");
                // iframe.style.border = "none";
                // iframe.style.width = "1px";
                // iframe.style.height = "1px";
                // iframe.onload = function () {
                //     alert('here');
                //     document.location = "PulseSocialAppUrlScheme://" + result;
                // };
                // iframe.src = "PulseSocialAppUrlScheme://" + result; //iOS app schema url
                // window.onload = function(){
                //     alert('aaa');
                //     document.body.appendChild(iframe);
                // }

                setTimeout(function(){
                    window.location = 'itms-apps://itunes.apple.com/us/app/pulse-social-app/id1194288589?mt=8'; //fallback url
                }, 25);
                window.location = "PulseSocialAppUrlScheme://" + result;
            } else {
                $('h1').text('Must be on an iPhone or iPod to view.')
            }
        }
    </script>
{% endblock jquery %}
